.body {
  margin: 0;
  padding: 0;
  height: 100%; }

.background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -1; }
  .background img {
    width: 100%;
    height: 100%; }

.text1 {
  text-align: center;
  width: 50%;
  position: relative;
  top: 20px;
  font-size: 3rem;
  color: white; }

.test__trigger, .element {
  width: 100px;
  height: 100px;
  background: white;
  position: absolute;
  top: 200px;
  left: 100px; }
  .test__trigger.no2, .no2.element {
    top: 800px; }

.element {
  top: 800px;
  left: 300px; }

/*# sourceMappingURL=stylesheet.css.map */