.body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  // background-image: url('../img/background.jpg');

  img {
    width: 100%;
    height: 100%;
  }

}


.text1 {
  text-align: center;
  width: 50%;
  // left: 50%;
  // transform: translate(-50%);
  position: relative;
  top: 20px;
  // bottom: 120vh;
  font-size: 3rem;
  color: white;
}

.test__trigger {
  width: 100px;
  height: 100px;

  background: white;
  position: absolute;
  top: 200px;
  left: 100px;

  &.no2 {
    top: 800px;
  }
}

.element {
  @extend .test__trigger;
  top: 800px;
  left: 300px;
}
